/* styles.css */

body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    margin: 0;
    background-color: #883737;
}

.emoji-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    max-width: 800px;
    justify-content: center;
}

.emoji-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #3a9fc7;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.emoji-item:hover {
    transform: scale(1.1);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.emoji-item span {
    font-size: 3rem;
}

.emoji-item code {
    margin-top: 5px;
    font-size: 1rem;
    color: #0a0308;
}

